/* initializing body  */
*,body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* max width for the nav bar  */
.container{
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* navigation bar  */
nav{
  height: 80px;
  background-color: #E5E4E2;
}
nav h2{
  color: #F88379;
  font-size: 30px;
  margin: 20px;
}
.right-side {
  display: flex;
  
}
.right-side li{
  list-style: none;
  margin: 20px;
  /* color: #555555; */
}
.right-side li a{
  text-decoration: none;
  font-size: 25px;
  color: #555555;
}
.right-side li a:hover{
  background-color: #F88379;
  color: white;
}

/* container-2 for the body max width  */
.container-2 {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  height: 870px;
  background-color: #F88379;
  /* background-image: url(../uploadimg/background.jpeg); */
  background-size: cover;
  background-attachment: fixed;
  padding: 30px; 
}

/*card contains the form*/
.card{
  position: absolute;
  width: 40%;
  left: 50%;
  transform: translate(-50%);
  top: 25%;
  padding: 50px;
  background-color: #E5E4E2;
  /* border-radius: 10%; */
  border: 2px solid white;
}

/* label of the card  */
.card label{
  font-size: 20px;
  color: #555555;
}
/* .card input{ */
  /* margin: 15px 0; */
/* } */
.card h2{
  color: #F88379;
  /* margin: 15px 90px; */
  margin: 15px 0;
  font-weight: 800;
  font-size: 60px;
  /* text-align: center; */
}

/* textarea of the card  */
textarea{
  border: 0px;
  margin-bottom: 20px;
  margin-top: 5px;
}
input{
  padding: 8px 12px;
  border: none;
}

/* submit button  */
.submit{
  padding: 8px 15px;
  border: 0px;
  background-color: #F88379;
  color: white;
}